<launch>
	<node name="stage" pkg="stage_ros" type="stageros"
	      args="$(find lab2)/world/playground_bug2.world" />

	<node name="lines" pkg="lab2" type="percept"/>
        <node name="bug2_ctrl" pkg="lab2" type="bug2"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lab2)/conf_rviz/default.rviz"/>

</launch>
